mixin NewsBlock(news)
		.NewsBlock.card.w-100.h-100(nid=news&&news.id, style=news?"":"display : none")
			img#mainImage.card-img-top(src=news&&news.mainImageURL)
			.card-img-overlay.overlay-keyword
				h4#key1.card-title.mt-4= news&&"1. "+news.keywords[0].word
				h4#key2.card-title.my-2= news&&"2. "+news.keywords[1].word
				h4#key3.card-title.my-2= news&&"3. "+news.keywords[2].word
			.card-body
				p#text.card-text= news&&moment(news.issueDate).format('YYYY년 MM월 DD일 발행')


