mixin NewsBlock(news)
		.NewsBlock.card.w-100.h-100.text-center(nid=news&&news.id, style=news?"":"display : none")
			.spinner-border(role = 'status')
			img.mainImage#mainImage.card-img-top(src=news&&news.mainImageURL style="display : none")
			.card-img-overlay.overlay-keyword.bg-light-yellow.d-flex.flex-column.align-items-center
				.flex-fill
				.row.w-100
					.col
						h2.basic-font(style='font-size : 30px;') 키워드 Top 3
				.row.w-100
					.col
						h3.basic-font#key1.card-title.mt-4(style='font-size : 30px;')= news&&"1. "+news.keywords[0].word
				.row
					.col
						h3.basic-font#key2.card-title.my-2(style='font-size : 30px;')= news&&"2. "+news.keywords[1].word
				.row
					.col
						h3.basic-font#key3.card-title.my-2(style='font-size : 30px;')= news&&"3. "+news.keywords[2].word
				.flex-fill
			.card-body
				h4#text.card-text= news&&moment(news.issueDate).format('YYYY년 MM월 DD일 발행')
	

